@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Order currOrder = ViewBag.order;
    string path = ViewBag.path;
    string OrderId = currOrder.Id.ToString();
}
<div class="card">
    <div class="row">
        <div class="card">
            <img src=@path width="300" height="300">
         </div>
        <div class="card-body">
            <h3 style="text-align: left;">@currOrder.Product.Name</h3>
            <p class="card-text">@currOrder.Product.Desc</p>
        </div>
    </div>

    <h4>Please rate the product (0 - 5)</h4>
    <div class="row">
        <form action="/Purchase/SaveReview/">

            <div class="rate" style="margin=0; padding=0" required>
            <input type="radio" id="star5" name="rate" value="5" />
            <label for="star5" title="text">5 stars</label>
            <input type="radio" id="star4" name="rate" value="4" />
            <label for="star4" title="text">4 stars</label>
            <input type="radio" id="star3" name="rate" value="3" />
            <label for="star3" title="text">3 stars</label>
            <input type="radio" id="star2" name="rate" value="2" />
            <label for="star2" title="text">2 stars</label>
            <input type="radio" id="star1" name="rate" value="1" />
            <label for="star1" title="text">1 star</label>
        </div><br>

    <br /><h4>Tell us your feeling!</h4>
    <textarea id="content" name="content" rows="4" cols="50"></textarea><br>
    <input type="hidden" name="orderId" value="@OrderId"/><br>
    <input type="submit" value="Submit">
        </form>
    </div>


</div>
