table, tr, th, td {
    border-top-color: white;
    border-left-color: white;
    border-right-color: white;
    border-bottom-color: lightgray;
}

table tr:last-child {
    border-bottom-color: white;
}

.order-summary tr:nth-child(4) {
    border-bottom-color: white;
}

