.wishlist-btn {
    padding: 0;
    border: none;
    background: none;
    outline: none;
    height: 30px;
}


    .wishlist-btn:hover {
        border: none;
        outline: none;
    }



    .wishlist-btn:focus {
        border: none;
        outline: none;
    }
