@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

.navbar {
    display: none;
    visibility: hidden;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: white !important;
}

.user_card {
    height: 400px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #f5f9fa;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -5px;
    padding: 10px;
    text-align: center;
}

.brand_logo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.form_container {
    margin-top: 130px;
}

.login_btn {
    width: 100%;
    background: #5bc0de !important;
    color: white !important;
}

    .login_btn:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }

.login_container {
    padding: 0 2rem;
}

.input-group-text {
    background: #5bc0de !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #5bc0de !important;
}

h4 {
    margin-bottom: 0px;
    font-family: 'Nunito', sans-serif;
}

p {
    margin-bottom: 10px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}