@model Product
@{
    ViewData["Title"] = "Add a new product";
    string sessionUserName = (string)Context.Request.Cookies["Username"];
    string userRole = (string)Context.Request.Cookies["Role"];
}

@*@section Scripts{
    <script>$('#Img').on("change", function () {
            var output = document.getElementById("ProductPicturePreview");
            output.src = $(this).val();
        })</script>
}*@

<div class="row text">
    <div class="col-md-8 offfset-2">
        <p>
            <h1>Details for @Model.Name</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offfset-2">
                <div class="text-danger"></div>
                <div class="form-group text-center">
                    <img id="ProductPicturePreview" />
                </div>
                <div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" readonly />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Img" class="control-label"></label>
                    <input asp-for="Img" class="form-control" readonly />
                    <span asp-validation-for="Img" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" readonly />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div><div class="form-group">
                    <label asp-for="Desc" class="control-label"></label>
                    <input asp-for="Desc" class="form-control" readonly />
                    <span asp-validation-for="Desc" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" readonly />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <label asp-for="DownLoadLink" class="control-label"></label>
                    <input asp-for="DownLoadLink" class="form-control" readonly />
                    <span asp-validation-for="DownLoadLink" class="text-danger"></span>
                </div>

                <div class="form-group">
                    @if (userRole == "Admin" && !string.IsNullOrEmpty(sessionUserName))
                    {
                        <a class="btn btn-outline-success float-right" asp-action="Update" asp-route-id="@Model.Id">Edit</a>

                    }

                    <a class="btn btn-outline-secondary" asp-controller="Search" asp-action="Index">Show All</a>
                </div>
            </div>
        </div>
    </div>
</div>

